.main-testing{
    display: grid;
    grid-template-columns: auto auto auto;
}
.box-div{
    width: 100%;
    background-color: black;
    border: 2px solid pink;
}

@media (max-width: 768px) and (min-width: 600px) {
    .main-testing{
        display: grid;
        grid-template-columns: auto auto;
    }
    .box-div{
        width: 100%;
        background-color: yellow;
        border: 2px solid red;
        color: black;
    }
}
@media (max-width: 500px) {
    .main-testing{
        display: grid;
        grid-template-columns: auto;
    }
    .box-div{
        width: 100%;
        background-color: blue;
        border: 2px solid yellow;
        color: white;
    }
  }